header {
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding-inline: 1rem;
  background-color: var(--main);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
header > a {
  display: flex;
  text-decoration: none;
}
header > a > img {
  height: 1.5rem;
}
