@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

:root {
  --main: #fff;
  --main-1: #f0f3f7;
  --accent: #214b8d;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.limiter {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

body {
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  background-color: var(--main-1);
}
